.app-container {
    padding-top: 3%;
    padding-bottom: 2%;
    align-items: center;
    padding-left: 30%;
    width: 70%;
}

.app-header {
    padding-top: 5%;
    float: center;
    text-align: center;
}

.app-body {
    padding-top: 50px;
    width: 80%;
    padding-left: 20%;
}

.appLogout {
    float: right;
    width: 70px;
}